/* DISEÑOS GENERALES */
.border1px {
  border: 1px solid white;
}

.flex {
  display: flex;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.grid {
  display: grid;
}

.fontcolor {
  color: #B9B9B9;
}

.font32px {
  font-size: 32px;
  font-size: 2rem;
}

.font28px {
  font-size: 28px;
  font-size: 1.75rem;
}

.font24px {
  font-size: 24px;
  font-size: 1.5rem;
}

.font18px {
  font-size: 18px;
  font-size: 1.125rem;
}

.font16px {
  font-size: 16px;
  font-size: 1rem;
}

.centerContent {
  justify-content: center;
  align-content: center;
  text-align: center;
}

.centerItems {
  justify-items: center;
  align-items: center;
  text-align: center;
}

.centerSelf {
  justify-self: center;
  align-self: center;
}

.noMargin {
  margin: 0;
}

.link {
  text-decoration: none;
}

/* DISEÑOS ÚNICOS */
.header,
.nav,
.navBurger {
  background-color: #020202;
}

.nav {
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.nav,
.navBurger {
  position: sticky;
  top: 0;
  padding: 20px;
  z-index: 100;
}

.main {
  margin: 0 50px;
}

.section {
  scroll-margin-top: 70px;
}

.name {
  margin: 0;
}

.jobTitle {
  margin: 15px;
  color: #3F3F3F;
}

.imgMe {
  border: 1px solid #1F1F1F;
  width: 40vh;
  height: 40vh;
}

.description {
  text-align: justify;
  line-height: 25px;
}

.social {
  margin: 20px 0 10px 0;
  gap: 20px;
}

.education {
  align-items: center;
  grid-template-columns: 1fr auto;
}

.imgUnisierra {
  width: 12vh;
  height: 12vh;
}

.imgMe,
.imgUnisierra {
  border-radius: 50%;
}

.languages {
  line-height: 35px;
}

.stack {
  grid-template-columns: auto auto auto auto auto auto;
  gap: 50px 100px;

  padding: 50px 0;
}

.icon {
  width: 5vh;
  height: 5vh;
}

.iconT {
  width: 7vh;
  height: 7vh;
}

.icon,
.iconT {
  color: #B9B9B9;
}

.navDivSections {
  justify-content: right;
  gap: 20px;
}

.proyect,
.actionsProyect {
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.proyect {
  text-align: justify;
}

.proyect img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  opacity: 0.5;
  transition: 0.3s ease;
}

.separator {
  color: #3F3F3F;
  margin: 50px 0;
}

.proyect:hover {
  img {
    opacity: 1;
    transition: 0.3s ease;
  }
}

.action,
.input {
  padding: 7px 20px;
  border: 1px solid #3F3F3F;
  background-color: #050505;
  color: #B9B9B9;
  border-radius: 6px;
}

.options {
  margin: 40px 0;
  gap: 20px;
}

.preview {
  width: 24vh;
  border: 1px solid #1F1F1F;
  transition: 0.3s ease;
}

.spanView,
.action,
.form {
  gap: 10px;
}

.input {
  width: 23vw;
  resize: none;
  padding: 10px 20px;
}

.textarea {
  height: 23vw;
}

.footer {
  margin: 50px 0;
}

.action:hover {
  cursor: pointer;
  background-color: #090909;
}

.link:hover {
  color: #FFF;
}

.input:focus {
  transition: 0.3s ease;
  outline: none;
  border: none;
  border: 1px solid #616161;
}

.navBurger summary {
    list-style: none; /* Firefox */
}

.navBurger summary::-webkit-details-marker {
    display: none; /* Chrome, Safari, Edge */
}

/* PREVIEW DEL PDF */
.preview:hover {
  cursor: pointer;
  transform: scale(1.02);
  transition: 0.3s ease;
}

.none,
.navBurger {
  display: none;
}

.block {
  display: block;
  justify-content: right;
}

@media (min-width: 100px) and (max-width: 768px) and (min-height: 300px) and (max-height: 1024px) {
  .navBurger {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: right;

    padding: 10px 20px;
  }

  .burgerOptions {
    position: absolute;
    right: 20px;
    padding: 10px;
    text-align: right;

    background-color: #020202;
    border: 1px solid #616161;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  /* CAMBIOS ESPECIFICOS */
  .stack {
    grid-template-columns: auto auto;
    gap: 50px 100px;

    padding: 50px 0;
  }

  .input {
    width: 100%;
  }

  .proyect {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
  }

  .actionsProyect {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .separator {
    margin: 20px 0;
  }

  .previewpdf {
    height: 50vh;
  }

  .nav {
    display: none;
  }
}

/* LO MISMO PERO EN HORIZONTAL */
@media (min-width: 640px) and (max-width: 1024px) and (min-height: 360px) and (max-height: 768px) {
  .navBurger {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: right;

    padding: 15px 20px;
  }

  .burgerOptions {
    position: absolute;
    right: 20px;
    padding: 10px;
    text-align: right;

    background-color: #020202;
    border: 1px solid #616161;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  /* CAMBIOS ESPECIFICOS */
  .iconT {
    width: 10vh;
    height: 10vh;
  }

  .input {
    width: 100%;
  }

  .proyect {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
  }

  .actionsProyect {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .separator {
    margin: 40px 0;
  }

  .previewpdf {
    height: 50vh;
  }

  .nav {
    display: none;
  }
}


@media (min-width: 1366px) and (min-height: 768px) {}

@media (min-width: 1920px) and (min-height: 1080px) {}